#img-2{
    padding-top: 40px;
 }
 
 #img-4{
    padding-top: 40px;
 }


#img-5{
    padding-top: 40px;
 }

#img-6{
    padding-top: 17px;
 }

#img-7{
   padding-top: 50px;
}


#img-8{
    padding-top: 50px;
 }

 #img-9{
    padding-top: 50px;
 }


 #img-10{
    padding-top: 60px;
 }

 #img-11{
    padding-top: 30px;
 }




 #img-13{
    padding-top: 40px;
 }


 #img-14{
    padding-top: 30px;
 }


 #img-15{
    padding-top: 10px;
 }


 #img-16{
    padding-top: 50px;
 }


 #img-17{
   width: 100px;
}



#img-18{
   padding-top: 50px;
}



